mixin pagination(page, pages, count)
    .pagination 
        .paginiation__prev 
            if page > 1
                a(href=`/stores/page/${page-1}`) Prev
        .pagination__text 
            p Page #{page} of #{pages} - #{count} total results 
        .paginiation__next
            if page < pages 
                a(href=`/stores/page/${parseFloat(page) + 1}`) Next